body {
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  height: 400px;
  width: 300px;
  border-radius: 8px;
  background: dedede;
  box-sizing: border-box;
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3);
  background: #ece9e6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #ece9e6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.currentTop {
  height: 64px;
  display: flex;
  width: 100%;
  align-items: center;
}

.backTop {
  height: 64px;
  display: flex;
  width: 100%;
  align-items: center;
}

.currentTop div {
  flex: 1;
}

.backTop div {
  flex: 1;
}

.center {
  text-align: center;
}

.showPlaying {
  float: right;
  cursor: pointer;
  margin-right: 16px;
}

.backTop img.closePlaylist {
  float: right;
  cursor: pointer;
  margin-right: 16px;
}

#player-back {
  position: absolute;
  /* top: 0; */
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 9999;
  display: none;
  border-radius: 8px;
  overflow: hidden;
}

.img img {
  display: block;
  margin: auto;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.21);
  width: 200px;
  height: 220px;
}

.song-artist {
  color: #aaafb3;
  display: block;
  text-align: center;
  font-size: 14px;
}

.song-album {
  color: #414344 display;
  display: block;
  text-align: center;
  font-size: 20px;
}

#controls {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shuffle {
  display: inline-block;
  width: 19px;
  height: 16px;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 24px;
  background-repeat: no-repeat;
}

.shuffle-off {
  background-repeat: no-repeat;
  background: url("../images/shuffle-off.svg");
}

.shuffle-on {
  background-repeat: no-repeat;
  background: url("../images/shuffle-on.svg");
}

.prev {
  display: inline-block;
  height: 32px;
  width: 32px;
  cursor: pointer;
  background: url("../images/previous.svg");
  vertical-align: middle;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  margin-right: 16px;
}

.playlist-prev {
  display: inline-block;
  height: 32px;
  width: 32px;
  cursor: pointer;
  background: url("../images/previous.svg");
  vertical-align: middle;
  background-size: 32px 32px;
  background-repeat: no-repeat;
}

.play-pause {
  display: inline-block;
  width: 65px;
  height: 65px;
  cursor: pointer;
  vertical-align: middle;
  background-size: 65px 65px;
  margin-right: 16px;
}

.playlist-play-pause {
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: url("../images/play.svg");
  vertical-align: middle;
  background-size: 32px 32px;
  background-repeat: no-repeat;
}

.play {
  margin-right: 16px;
  display: inline-block;
  width: 65px;
  height: 65px;
  background-size: 65px 65px;
  background-repeat: no-repeat;
  vertical-align: middle;
  background: url("../images/play.svg");
}

.song-controller .playlist-play {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  vertical-align: middle;
  background: url("../images/play.svg");
}

.pause {
  margin-right: 16px;
  display: inline-block;
  width: 65px;
  height: 65px;
  background-size: 65px 65px;
  background-repeat: no-repeat;
  vertical-align: middle;
  background: url("../images/pause.svg");
}

.song-controller .playlist-pause {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  vertical-align: middle;
  background: url("../images/pause.svg");
}

.next {
  display: inline-block;
  height: 32px;
  width: 32px;
  cursor: pointer;
  background: url("../images/next.svg");
  vertical-align: middle;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  margin-right: 16px;
}

.playlist-next {
  display: inline-block;
  height: 32px;
  width: 32px;
  cursor: pointer;
  background: url("../images/next.svg");
  vertical-align: middle;
  background-size: 32px 32px;
  background-repeat: no-repeat;
}

.repeat {
  display: inline-block;
  width: 19px;
  height: 16px;
  cursor: pointer;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.repeat-off {
  background-repeat: no-repeat;
  background: url("../images/repeat-off.svg");
}

.repeat-on {
  background-repeat: no-repeat;
  background: url("../images/repeat-on.svg");
}

.controls::after {
  content: "";
  display: table;
  clear: both;
}

.move-out-top {
  animation: move-out-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.move-in-top {
  animation: move-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.playlist-queue {
  margin-top: 32px;
  height: calc(100% - 190px);
  overflow-y: scroll;
}

.song-container {
  border-bottom: 1px solid #f5f5f6;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
}

.playlist-song-metadata {
  float: left;
  margin-left: 15px;
  width: calc(100% - 80px);
}

.song-name {
  color: #414344;
  font-size: 14px;
  display: block;
}

.song-album {
  color: #aaafb3;
  font-size: 12px;
  display: block;
}

.playlist-queue img {
  width: 48px;
  height: 48px;
  border-radius: 3px;
  margin-left: 16px;
  float: left;
}

.song-container:hover {
  background: rgba(211, 94, 154, 0.3);
}

.song-container.active-song {
  background-color: rgba(238, 100, 82, 0.3);
}

.song-container::after {
  content: "";
  display: table;
  clear: both;
}

.bottom-player {
  background-color: #f5f5f6;
  border-radius: 8px;
  padding: 16px;
  display: flex;
}

.bottom-album img {
  float: left;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  height: 64px;
  width: 64px;
}

#bottom-song-metadata {
  float: left;
  margin-left: 15px;
  overflow: hidden;
  width: calc(100% - 136px);
}

.song-contoller {
  display: inline-block;
  width: calc(100% - 135px);
  vertical-align: middle;
}

.song-controls {
  text-align: center;
  margin-top: 10px;
  display: inline-block;
  width: 120px;
  vertical-align: middle;
}

@keyframes move-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
  }
}

@keyframes move-in-top {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}